<br>
<span>Please select the Item ID you want to view its details: </span>
<br>
<mat-form-field appearance="fill">
    <mat-select [(ngModel)]="selectedValue" name="ItemsID">
      <mat-option *ngFor="let item of ItemsID" [value]="item.itemId">
        {{item.itemId}}
      </mat-option>
    </mat-select>
  </mat-form-field>
  <br>
  <button mat-button (click)="submit()">submit</button>
<div *ngIf = "this.dataSource.length != 0">
<table mat-table [dataSource]="dataSource" class="mat-elevation-z8">

    <!--- Note that these columns can be defined in any order.
          The actual rendered columns are set as a property on the row definition" -->
  
    <!-- Position Column -->
    <ng-container matColumnDef="Item ID">
      <th mat-header-cell *matHeaderCellDef> Item ID </th>
      <td mat-cell *matCellDef="let element"> {{element.itemId}} </td>
    </ng-container>
  
    <!-- Name Column -->
    <ng-container matColumnDef="Name">
      <th mat-header-cell *matHeaderCellDef> Name </th>
      <td mat-cell *matCellDef="let element"> {{element.name}} </td>
    </ng-container>
  
    <!-- Weight Column -->
    <ng-container matColumnDef="Amount">
      <th mat-header-cell *matHeaderCellDef> Amount </th>
      <td mat-cell *matCellDef="let element"> {{element.amount}} </td>
    </ng-container>
  
    <!-- Symbol Column -->
    <ng-container matColumnDef="Inventory Code">
      <th mat-header-cell *matHeaderCellDef> Inventory Code</th>
      <td mat-cell *matCellDef="let element"> {{element.inventoryCode}} </td>
    </ng-container>
     
    <!-- <ng-container >
      <td mat-cell *matCellDef="let element"> <input><matIcon>delete</matIcon></input> </td>
    </ng-container> -->

    <!-- <ng-container matColumnDef="Delete">
      <th mat-header-cell *matHeaderCellDef> </th>
      <td mat-cell *matCellDef="let element"><button (click)="delete(element.itemId)"><mat-icon>delete</mat-icon></button></td>
    </ng-container> -->

  
    <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
    <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
  </table>
</div>
  
  
