
<form [formGroup]="myForm" (ngSubmit)="handleSubmit()">
    <span>Insert the Item ID:   </span>
    <mat-form-field class="example-form-field">
        <input matInput type="number"  formControlName="itemId">
    </mat-form-field>
    <br>
    <span *ngIf="myForm.controls.itemId.dirty && myForm.controls.itemId.invalid">Item ID cannot be empty</span>
    <br>
    <span>Insert the Amount you want to withdrawal:   </span>
    <mat-form-field class="example-form-field">
        <input matInput type="number"  formControlName="amount">
    </mat-form-field>
    <br>
    <span *ngIf="myForm.controls.amount.dirty && myForm.controls.amount.invalid">Amount cannot be empty</span>
    <br>
    <button mat-button type="submit" [disabled]="myForm.invalid">Withdrawal</button>
</form>
